.block-magenta {
  float: left;
  position: relative;
  width: 100%;
  padding: 165px 0 45px;
  background-color: #1f0d25;
}

.block-magenta:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: url("../img/bg/magenta-border.png");
  height: 155px;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 10;
}

.block-magenta h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
}

.block-magenta h4 {
  color: #a6a3a7;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.block-blue {
  float: left;
  width: 100%;
  position: relative;
  background-color: #130727;
  padding-top: 200px;
  padding-bottom: 45px;
}

.block-blue:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: url("../img/bg/arr-e.png");
  height: 137px;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 12;
}

.block-blue h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
}

.block-skyline {
  float: left;
  width: 100%;
  height: 500px;
  background-image: url("../img/bg/bg-3.jpg");
  background-position: 50% 90%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.block-black {
  float: left;
  width: 100%;
  position: relative;
  background-color: #13100e;
  padding-top: 100px;
  padding-bottom: 155px;
}

.block-black h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
}

.block-dark {
  float: left;
  width: 100%;
  position: relative;
  background-color: #18171a;
  padding-top: 20px;
  padding-bottom: 135px;
}

.block-dark h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
}

.block-dark:before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 217px;
  left: 0;
  width: 100%;
  background-image: url("../img/bg/bg-dark.png");
}

.float-box {
  float: left;
  width: 100%;
  position: relative;
}

.icon {
  display: inline-block;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.icon-dots {
  width: 88px;
  height: 24px;
  background-image: url("../img/icons/More-Filled-100.png");
}

.icon-phone {
  width: 68px;
  height: 68px;
  background-image: url("../img/icons/PhoneFilled-100.png");
}

.icon-chat {
  width: 71px;
  height: 66px;
  background-image: url("../img/icons/Chat-104.png");
}

.icon-write {
  width: 68px;
  height: 62px;
  background-image: url("../img/icons/MapEditingFilled-100.png");
}

.icon-ig {
  width: 100px;
  height: 100px;
  background-image: url("../img/icons/Instagram-104.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-vk {
  width: 100px;
  height: 100px;
  background-image: url("../img/icons/VKontakteFilled-100.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-fb {
  width: 100px;
  height: 100px;
  background-image: url("../img/icons/FacebookFilled-100.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-slide-prev {
  width: 79px;
  height: 79px;
  background-image: url("../img/icons/arr-slider-l.png");
}

.icon-slide-next {
  width: 79px;
  height: 79px;
  background-image: url("../img/icons/arr-slider.png");
}

.icon-presentation-prev {
  width: 44px;
  height: 64px;
  background-image: url("../img/icons/Fast-Forward-104-l-1.png");
}

.icon-presentation-next {
  width: 44px;
  height: 64px;
  background-image: url("../img/icons/Fast-Forward-104-r.png");
}

.wall {
  display: block;
  position: relative;
}

.wall-column {
  display: block;
  position: relative;
  width: 33.333333%;
  float: left;
  padding: 0;
  box-sizing: border-box;
}

.wall-column:first-child {
  padding-right: 12px;
}

.wall-column ~ .wall-column {
  padding-left: 12px;
  padding-right: 12px;
}

.wall-column:last-of-type {
  padding-right: 0;
}

@media (max-width: 640px) {
  .wall-column {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .wall-column {
    width: auto;
    float: none;
    padding: 0;
  }
}

.head-separator {
  float: left;
  width: 100%;
  background-color: #000;
  height: 110px;
}

.home__bg-map {
  float: left;
  width: 100%;
  height: 510px;
}

.content-wrapper .section-fran:before {
  z-index: 9;
}

.questionary__form_box {
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 20px 40px;
  background-color: #1f0d25;
  -webkit-box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.75);
}

.questionary__form_box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  float: left;
  width: 100%;
  height: 50px;
  background-color: #17a79e;
  background-position: 50% 0;
  box-shadow: inset 0 -10px 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.questionary__form_group {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Arial';
}

.questionary__form_title {
  float: left;
  width: 40%;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.questionary__form_inp {
  float: right;
  width: 60%;
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Arial';
  background-color: rgba(167, 167, 167, 0.5);
  outline: none;
  color: #fff;
  border: 2px solid #fff;

  /* firefox 19+ */

  /* ie */
}

.questionary__form_inp::-webkit-input-placeholder {
  color: #bab7bb;
}

.questionary__form_inp::-moz-placeholder {
  color: #bab7bb;
}

.questionary__form_inp:-ms-input-placeholder {
  color: #bab7bb;
}

.questionary__form_inp input:-moz-placeholder {
  color: #bab7bb;
}

.questionary__form_sub {
  display: block;
  margin: 25px auto 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  width: 242px;
  height: 60px;
  background-color: #91007b;
  font-weight: 900;
  font-family: 'Arial';
  outline: none;
  border: none;
  color: #fff;
}

.questionary__form_sub:hover {
  background-color: #c400a6;
}

.questionary__staps p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Arial';
  font-size: 24px;
}

.questionary__staps_iconbox {
  float: left;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.questionary__staps_icon {
  display: block;
  position: relative;
  width: 153px;
  height: 153px;
  -webkit-border-radius: 76px;
  -moz-border-radius: 76px;
  -ms-border-radius: 76px;
  -o-border-radius: 76px;
  border-radius: 76px;
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 15px;
}

.questionary__staps_icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.questionary__staps_icon:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 66px;
  top: 50%;
  right: -70px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/icons/Down-104.png");
}

.questionary__staps_icon:last-of-type:after {
  content: none;
}

.news-box {
  text-align: center;
}

.news-box__wrap {
  float: left;
  width: 100%;
  text-align: center;
}

.news-box__item {
  display: block;
  margin: 0 0 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: #0f0612;
  color: #fff;
  text-decoration: none;
  font-family: "Arial";
  text-align: left;
}

.news-box__item_thumb {
  float: left;
  height: 185px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: gray;
}

.news-box__item_thumb img {
  min-width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news-box__item_thumb img {
  max-width: 125%;
  min-width: 101%;
}

.news-box__item strong {
  font-weight: 900;
  font-size: 18px;
}

.news-box__item p {
  font-weight: 500;
  font-size: 18px;
}

.news-box__more {
  display: inline-block;
  margin: 25px 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.news-box__more:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.styling-request {
  float: left;
  width: 100%;
  padding: 100px 0;
  background-image: url("../img/bg/styling-bg.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: #cacaca;
  text-align: center;
}

.styling-request h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
}

.styling-request p {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
}

.styling-request__item {
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.styling-request__item_icon {
  width: 147px;
  height: 148px;
  position: relative;
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -ms-border-radius: 74px;
  -o-border-radius: 74px;
  border-radius: 74px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
  background-color: rgba(31, 13, 37, 0.5);
  margin-bottom: 5px;
}

.styling-request__item_icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.styling-request__item:hover .styling-request__item_icon .icon {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -moz-transform: translate(-50%, -50%) scale(0.9);
  -ms-transform: translate(-50%, -50%) scale(0.9);
  -o-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

.section-review {
  background: #130727;
  position: relative;
  padding: 140px 0;
}

.section-review:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: url("../img/bg/arr-e.png");
  height: 137px;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 12;
}

.section-review:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  background: url("../img/bg/arr-e-vert.png");
  height: 137px;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 12;
}

.section-review .review-slider .flex-direction-nav .flex-prev {
  right: 120px;
  -moz-transform: translateY(0) scale(0.6);
  -ms-transform: translateY(0) scale(0.6);
  -webkit-transform: translateY(0) scale(0.6);
  transform: translateY(0) scale(0.6);
  top: auto;
  bottom: -20px;
  left: auto;
  z-index: 15;
}

.section-review .review-slider .flex-direction-nav .flex-next {
  -moz-transform: translateY(0) scale(0.6);
  -ms-transform: translateY(0) scale(0.6);
  -webkit-transform: translateY(0) scale(0.6);
  transform: translateY(0) scale(0.6);
  right: 50px;
  top: auto;
  bottom: -20px;
  z-index: 15;
}

.section-review h3 {
  font-family: "bebasneue_bold";
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 60px;
  font-size: 72px;
}

.section-review .left-part {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  margin-right: 45px;
}

.section-review .right-part {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-style: italic;
  font-variant: small-caps;
  width: 700px;
  font-size: 18px;
}

.section-review .right-part .name {
  font-size: 14px;
  color: #890895;
}

.section-review .img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.section-review .img img {
  display: block;
}

.gallery-carousel {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: -5px;
}

.gallery-carousel__title {
  float: left;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  color: #beb1ac;
  text-align: center;
  text-decoration: none;
  font-family: "Arial";
  font-weight: 900;
  font-size: 36px;
}

.gallery-wrap {
  position: relative;
  height: auto;
  float: left;
  width: 100%;
}

.gallery__box {
  padding-top: 0;
  text-align: center;
}

.gallery__tabs {
  float: left;
  width: 100%;
  position: relative;
}

.gallery__tabs ul {
  padding: 0;
  float: left;
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: row wrap;
  list-style-type: none;
  margin: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.gallery__tabs ul li {
  display: inline-block;
}

.gallery__tabs ul li a {
  text-decoration: none;
  color: #a6a3a7;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Arial";
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.gallery__tabs ul li a:hover {
  color: #fff;
}

.gallery__previews {
  float: left;
  width: 100%;
}

.gallery__previews_item {
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 5px 0;
}

.gallery__previews_item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 50%;
}

.owl-theme .owl-controls {
  margin: 0;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 30px;
  position: absolute;
  background: url("../img/icons/Prev-104.png");
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 30px;
  position: absolute;
  background: url("../img/icons/Next-104.png");
}

.owl-theme .owl-controls .owl-buttons div {
  width: 104px;
  height: 104px;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__head {
  float: left;
  width: 100%;
  height: 500px;
  background-image: url("../img/bg/main-slide-3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.contacts__map {
  float: left;
  width: 50%;
}

.contacts__map #map_canvas {
  float: left;
  width: 100%;
  height: 400px;
}

.contacts__info {
  float: left;
  width: 50%;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

.contacts__info p {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  margin-top: 0;
}

.contacts_item {
  color: #5e23c0;
}

.contacts__links {
  text-align: center;
  padding-top: 100px;
}

.contacts__links_item {
  display: inline-block;
  margin: 15px 70px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contacts__links_item:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.about-info__content {
  text-align: center;
  color: #fff;
}

.about-info__content_toggle {
  font-family: "Arial";
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}

.about-info__content_toggle:hover {
  text-decoration: none;
}

.about-info__content p {
  font-family: "Arial";
  font-weight: 900;
  font-size: 24px;
}

.about-info__content_all {
  display: none;
}

.about-masterpieces__carousel {
  float: left;
  width: 100%;
  position: relative;
}

.about-masterpieces__carousel_item {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.about-exhibition {
  float: left;
  width: 100%;
  position: relative;
  background-color: #13100e;
  padding: 45px 0 150px;
}

.about-exhibition h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Arial';
  margin-top: 25px;
  line-height: .8;
}

.about-masterpieces .about-masterpieces__carousel .owl-prev,
.about-exhibition .about-exhibition__carousel .owl-prev {
  background: none !important;
  width: 79px !important;
  height: 79px !important;
  left: 10px !important;
  opacity: 0 !important;
}

.about-masterpieces .about-masterpieces__carousel .owl-prev:hover,
.about-exhibition .about-exhibition__carousel .owl-prev:hover {
  opacity: 1 !important;
}

.about-masterpieces .about-masterpieces__carousel .owl-next,
.about-exhibition .about-exhibition__carousel .owl-next {
  background: none !important;
  width: 79px !important;
  height: 79px !important;
  opacity: 0;

  /* right: 10px !important; */
  opacity: 0 !important;
}

.about-masterpieces .about-masterpieces__carousel .owl-next:hover,
.about-exhibition .about-exhibition__carousel .owl-next:hover {
  opacity: 1 !important;
}

.price__wrap {
  float: left;
  width: 100%;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.price__item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 300px;
  height: 421px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 10px;
  font-family: 'Arial';
  margin: 0 8px 25px;
  text-align: left;
}

.price__item a {
  text-decoration: none;
  float: left;
  width: 100%;
}

.price__item a h4 {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.price__item a img {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  height: 125px;
  object-fit: contain;
  object-position: 50%;
}

.price__item a:hover h4 {
  color: #91007b;
}

.price__item p {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin: 10px 0;
}

.price__item span.price__item_price {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.price__item span.price__item_price strong {
  background-color: #91007b;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

.cooperation {
  text-align: center;
}

.cooperation__item {
  width: 300px;
  height: 421px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 10px;
  font-family: 'Arial';
  margin: 0 8px 25px;
  text-align: left;
}

.cooperation__item_icon {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px;
}

.cooperation__item h4 {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

.cooperation__item p {
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}

.cooperation__partner-but {
  display: inline-block;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  text-decoration: none;
  margin: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  background-color: #91007b;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.cooperation__partner-but:hover {
  background-color: #5e0050;
}

.specials__column {
  width: 33.33333%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

.specials__column:nth-of-type(2) {
  border-width: 0 1px;
  border-color: #fff;
  border-style: solid;
}

.specials__column h4 {
  color: #fff;
  font-size: 24px;
}

.specials__item {
  text-align: left;
  margin-bottom: 25px;
}

.specials__item a {
  text-decoration: none;
}

.specials__item a strong {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.specials__item a:hover {
  text-decoration: underline;
  color: #fff;
}

.specials__item_thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 50%;
  margin-bottom: 10px;
}

.franchise {
  text-align: center;
}

.franchise__carousel {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.franchise__carousel img {
  width: 100%;
}

.franchise__carousel .owl-next {
  background: none !important;
  width: 79px !important;
  height: 79px !important;
}

.franchise__carousel .owl-next:hover {
  opacity: 1 !important;
}

.franchise__carousel .owl-prev {
  background: none !important;
  width: 79px !important;
  height: 79px !important;
}

.franchise__carousel .owl-prev:hover {
  opacity: 1 !important;
}

.franchise_btn {
  display: inline-block;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 0;
  background-color: #91007b;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.franchise_btn:hover {
  background-color: #5e0050;
}

.about-exhibition .about-exhibition__carousel .owl-next {
  background: none !important;
  width: 79px !important;
  height: 79px !important;
  opacity: 0;

  /* right: 10px !important; */
  opacity: 0 !important;
}

.about-exhibition .about-exhibition__carousel .owl-next:hover {
  opacity: 1 !important;
}

.project__slider {
  height: auto;
  position: relative;
  background-color: #1f0d25;
}

.project ul.slides {
  height: 100%;
}

.project__carousel {
  margin-bottom: 25px;
}

.project__carousel .slides li {
  height: 140px;
}

.project__carousel .slides li img {
  height: 140px;
  object-fit: cover;
  object-position: 50%;
}

.project__carousel .flex-direction-nav .flex-next {
  right: 10px;
  width: 45px;
  height: 78px;
  background: url("../img/icons/Next-96-1.png");
}

.project__carousel .flex-direction-nav .flex-prev {
  left: 10px;
  width: 45px;
  height: 78px;
  background: url("../img/icons/Next-96.png");
}

.project__media {
  padding-top: 50px;
}

.project__media_videobox {
  float: left;
  width: 100%;
  height: auto;
  margin: 25px 0;
  height: 560px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project__content {
  font-family: "Calibri";
}

.project__content p {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.footer-wrapper {
  float: left;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  .site-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .questionary__staps_iconbox {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .questionary__staps_icon {
    margin: 15px 25px;
  }

  .questionary__staps_icon:after {
    content: none;
  }

  .gallery__tabs ul li a {
    font-size: 14px;
    margin: 0 5px;
  }

  .gallery__tabs ul {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gallery__previews_item {
    width: 33.33333%;
  }

  .gallery-carousel__title {
    padding: 5px 0;
    font-size: 14px;
  }

  .owl-theme .owl-controls .owl-buttons div {
    width: 30px;
    height: 30px;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-prev,
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
  }

  .price__item,
  .price__wrap {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 770px) {
  .section-review .right-part {
    width: 560px;
  }
}

@media only screen and (max-width: 736px) {
  .section-review .right-part {
    width: 100%;
  }

  .block-skyline {
    height: 250px;
    background-attachment: initial;
  }

  .styling-request {
    background-attachment: initial;
  }

  .block-magenta h4 {
    font-size: 24px;
  }

  .questionary__form_inp,
  .questionary__form_title {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 18px;
  }

  .questionary__staps p {
    font-size: 18px;
  }

  .gallery__tabs ul li a {
    margin: 0 20px 0 0;
  }

  .gallery__previews_item {
    width: 50%;
  }

  .contacts__head {
    height: 250px;
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__info {
    width: 100%;
    padding-left: 0;
  }

  .about-info__content_toggle {
    font-size: 24px;
  }

  .cooperation__item h4 {
    font-size: 18px;
  }

  .cooperation__partner-but {
    padding: 10px;
    font-size: 24px;
  }

  .specials__column {
    width: 100%;
  }

  .specials__column:nth-of-type(2) {
    border: none;
  }

  .franchise__carousel .owl-next {
    right: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .franchise__carousel .owl-prev {
    left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .franchise_btn {
    font-size: 18px;
  }

  .franchise {
    padding-top: 50px;
  }

  .project__media_videobox {
    height: 320px;
  }

  .project__slider .slides img {
    min-height: 300px;
    max-height: 376px;
    width: auto;
    max-width: none;
  }

  .project__content p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .block-magenta h3 {
    font-size: 40px;
  }

  .about-info__content p {
    font-size: 18px;
  }

  .block-black h3 {
    font-size: 40px;
  }

  .block-dark h3 {
    font-size: 40px;
  }

  .about-exhibition h3 {
    font-size: 40px;
  }
}
