@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 940px) {
		.header-wrapper .header-top .tel {
			height: 50px;
			box-sizing: border-box;
		}
		.header-wrapper .header-top .sub {
			box-sizing: border-box;
			height: 50px;	
		}
}

@media only screen and (max-width: 980px) {
	.site-container {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	    padding: 0 10px;
	}
	.questionary__staps_iconbox {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-justify-content: center;
	            justify-content: center;
	}
	.questionary__staps_icon {
		margin: 15px 25px;
		&:after {
			content: none;
		}
	}
	.gallery__tabs ul li a {
		font-size: 14px;
		margin: 0 5px;
	}
	.gallery__tabs ul {
		-webkit-justify-content: center;
		        justify-content: center;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	}
	.gallery__previews_item {
		width: 1 / 3 * 100%;
	}
	.gallery-carousel__title {
		padding: 5px 0;
		font-size: 14px;
	}
	.owl-theme .owl-controls .owl-buttons div {
		size: 30px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev, .owl-theme .owl-controls .owl-buttons div.owl-next {
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	    background-position: 50% 50%;
	}
	.price__item, .price__wrap {
		-webkit-justify-content: center;
		        justify-content: center;
	}
	.services__nav ul li a {
		padding: 15px 10px;
	}
	.services__content_desc, .services__content_thumb {
		width: 50%;
	}
	.services__carousel_bottom {
		margin-top: -300px;
	}
}

@media only screen and (max-width: 770px) {
	.section-review .right-part {
		width: 560px;
	}
}

@media only screen and (max-width: 736px) {
	.section-review .right-part {
		width: 100%;
	}
	.block-skyline {
		height: 250px;
		background-attachment: initial;
	}
	.styling-request {
		background-attachment: initial;
	}
	.block-magenta h4 {
		font-size: 24px;
	}
	.questionary__form_inp, .questionary__form_title {
		float: left;
		width: 100%;
		text-align: left;
		font-size: 18px;
	}
	.questionary__staps p {
		font-size: 18px;
	}
	.gallery__tabs ul li a {
		margin: 0 20px 0 0;
	}
	.gallery__previews_item {
		width: 50%;
	}
	.contacts__head {
		height: 250px;
	}

	.contacts__map {
		width: 100%;
	}
	.contacts__info {
		width: 100%;
		padding-left: 0;
	}
	.about-info__content_toggle {
		font-size: 24px;
	}
	.cooperation__item h4 {
		font-size: 18px;
	}
	.cooperation__partner-but {
		padding: 10px;
		font-size: 24px;
	}
	.specials__column {
		width: 100%;
		&:nth-of-type(2) {
			border: none;
		}
	}
	.franchise__carousel .owl-next {
		right: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.franchise__carousel .owl-prev {
		left: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.franchise_btn {
		font-size: 18px;
	}
	.franchise {
		padding-top: 50px;
	}
	.project__media_videobox {
		height: 320px;
	}
	.project__slider {
		.slides {
			img {
				min-height: 300px;
				max-height: 376px;
				width: auto;
				max-width: none;
			}

		}

	}
	.project__content p {
		font-size: 18px;
	}
	.services__nav ul li {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    ul {
	    	position: relative;
	    }
	}
	.services__content_desc, .services__content_thumb {
		width: 100%;
		padding-right: 0;
	}
	.services__carousel_bottom {
		height: 300px;
		margin-bottom: 0;
		margin-top: -200px;
	}
	.services__content_icon {
		margin-right: 10px;
	}
	.services {
		margin-top: 50px;
	}
	.header-wrapper .header-bottom {
		top: 100px;
	}
	.header-wrapper .header-bottom--onScroll {
		top: 0;
	}
	.sub__box {
		left: 0;
		&:before {
			left: 15px;
		}
	}
	.mail__box {
		right: 0;
		left: initial;
		&:before {
			right: 15px;
			left: initial;
		}
	}
}

@media only screen and (max-width: 500px) {
	.block-magenta h3 {
		font-size: 40px;
	}
	.about-info__content p {
		font-size: 18px;
	}
	.block-black h3 {
		font-size: 40px;
	}
	.block-dark h3 {
		font-size: 40px;
	}
	.about-exhibition h3 {
		font-size: 40px;
	}
	.section-form__box {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {

}
