@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	.site-container {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	    padding: 0 10px;
	}
	.questionary__staps_iconbox {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-justify-content: center;
	            justify-content: center;
	}
	.questionary__staps_icon {
		margin: 15px 25px;
		&:after {
			content: none;
		}
	}
}

@media only screen and (max-width: 770px) {
	.section-review .right-part {
		width: 560px;
	}
}

@media only screen and (max-width: 736px) {
	.section-review .right-part {
		width: 100%;
	}
	.block-skyline {
		height: 250px;
		background-attachment: initial;
	}
	.styling-request {
		background-attachment: initial;
	}
	.block-magenta h4 {
		font-size: 24px;
	}
	.questionary__form_inp, .questionary__form_title {
		float: left;
		width: 100%;
		text-align: left;
		font-size: 18px;
	}
	.questionary__staps p {
		font-size: 18px;
	}
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}